@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
    </div>
</div>
@section scripts{
<script src="~/js/Itinerary.js"></script>
    <script>
        $(document).ready(function () {
            var itinerary = new Itinerary();
        });
    </script>
}